p {
  position: absolute;
}

section{
    background-size: cover;
    height: 100vh;
    width: 100vh;
    align-items: center;
    justify-content: space-evenly;
    
}

body {
    margin: 0;

     overflow-x: scroll;
 
    }

.header{
    
    position: absolute;
    top: 0vh;
    left: 1em;
    
   
    
    

}





.navbar ul{
    text-align: right !important;
    align-items: right !important;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}


.navbar ul{
    text-align: right;
    position: absolute;
    top: 3%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 20px;
    transition: all ease 0.5s;
}
.navbar ul li a:hover{
    color: palevioletred;
   
}

.standout{
    position: absolute;
    left: 1em;
    
}

.stand{
    position: absolute;
    display: block;
    color: rgb(170, 43, 85);
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 20px;
    line-height: 1.1em;
    font-weight: 800;
    padding: 0;
    width: 10px;
}

.ordinary{
    position: absolute;
    display: block;
    color: #fff;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 0px;
    top: 500%;
    width: 80vh;


}